.collapsible-body {
  padding: 2rem;
  box-sizing: border-box;
}
.collapsible-body > *:not(.btn) {
  padding: 0;
}
.collapsible-body > *:not(:last-child) {
  padding: 0 0 1.2rem 0;
}
.collapsible-header {
  font-weight: 500;
}
.content_container {
  flex: 1 0 auto;
}
.collapsible-header .badge.new.red:before {
  background: #F44336 !important;
}
.collapsible-header .badge.new.blue:before {
  background: #2196F3 !important;
}
.collapsible-header .badge.new.grey.darken-1:before {
  background: #757575 !important;
}
.collapsible-header .badge.new.grey.darken-3:before {
  background: #616161 !important;
}
.collapsible-header .badge.new {
  background: transparent !important;
}
.badge.new:after {
  content: "" !important;
}

.collapsible-body > h5 {
  margin: 1rem 0 0;
}
.collapsible-body > table:not(:last-child) {
  margin-bottom: 1.2rem;
}
.collapsible-body > table~h5 {
  margin-top: 2.2rem;
}

pre {
  background: #777;
  color: #fff;
  padding: 1rem !important;
  margin: 1rem 0;
  border-radius: 4px;
  box-sizing: border-box;
}
.inline_pre {
  display: inline-block;
  padding: 0 .5rem;
  margin: 0;
  background: #777;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

.center_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.center_wrapper > * {
  margin: 1rem;
}
