.content_container {
  flex: 1 0 auto;
}
.card-action {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-action a {
  cursor: pointer;
  position: relative;
}
.card-action .btn-floating {
  position: absolute;
  top: -28px;
  right: 2rem;
}
@media (max-width:715px) {
  .card-action {
    display: block;
  }
  .card-action a:not(.btn-floating) {
    display: block;
    text-align: center;
    padding: .2rem 0;
  }
}
